<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string>logo.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.4</string>
	<key>CFBundleVersion</key>
	<string>15</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>www.youtube.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionMinimumTLSVersion</key>
				<string>TLSv1.1</string>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015~2018 FireFury. All rights reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainWindow</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>OnlineHelpURL</key>
	<string>http://www.firefury.net/mac-itunes-drm-audio-converter/tutorial.html</string>
	<key>OrderURL</key>
	<string>http://www.firefury.net/order-mac-itunes-drm-audio-converter.html</string>
	<key>ProductInfo</key>
	<dict>
		<key>de</key>
		<dict>
			<key>OnlineHelpURL</key>
			<string>http://www.firefury.de/mac-itunes-drm-audio-converter-tutorial.html</string>
			<key>OrderURL</key>
			<string>http://www.firefury.de/order-mac-itunes-drm-audio-converter.html</string>
			<key>SUFeedURL</key>
			<string>http://www.firefury.de/feed-itunes-drm-audio-converter.xml</string>
			<key>SupportEMail</key>
			<string>support@anvsoft.de</string>
			<key>WebSiteURL</key>
			<string>http://www.firefury.de/mac-itunes-drm-audio-converter.html</string>
		</dict>
		<key>fr</key>
		<dict>
			<key>OnlineHelpURL</key>
			<string>http://www.firefury.fr/mac-itunes-drm-audio-converter-tutorial.html</string>
			<key>OrderURL</key>
			<string>http://www.firefury.fr/order-mac-itunes-drm-audio-converter.html</string>
			<key>SUFeedURL</key>
			<string>http://www.firefury.fr/feed-itunes-drm-audio-converter.xml</string>
			<key>SupportEMail</key>
			<string>support.fr@anvsoft.com</string>
			<key>WebSiteURL</key>
			<string>http://www.firefury.fr/mac-itunes-drm-audio-converter.html</string>
		</dict>
		<key>ja</key>
		<dict>
			<key>OnlineHelpURL</key>
			<string>http://www.firefury.jp/mac-itunes-drm-audio-converter-tutorial.html</string>
			<key>OrderURL</key>
			<string>http://www.firefury.jp/order-mac-itunes-drm-audio-converter.html</string>
			<key>SUFeedURL</key>
			<string>http://www.firefury.jp/feed-itunes-drm-audio-converter.xml</string>
			<key>SupportEMail</key>
			<string>support.jp@anvsoft.com</string>
			<key>TurnoffSIPURL</key>
			<string>http://www.firefury.jp/faq-how-to-make-firefury-work-under-itunes-12.6.html</string>
			<key>WebSiteURL</key>
			<string>http://www.firefury.jp/mac-itunes-drm-audio-converter.html</string>
		</dict>
	</dict>
	<key>QuickGuideForInstallURL</key>
	<string>http://www.firefury.net/thank-you/install-mac-itunes-drm-audio-converter.html</string>
	<key>SUFeedURL</key>
	<string>http://update.firefury.net/iTunesAudioConverter/itunes-audio-drm.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>SupportEMail</key>
	<string>support@firefury.net</string>
	<key>TurnoffSIPURL</key>
	<string>http://www.firefury.net/faq/how-to-make-firefury-work-under-itunes-12.6.html</string>
	<key>WebSiteURL</key>
	<string>http://www.firefury.net</string>
</dict>
</plist>
